.team {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 140px;
        margin-bottom: 140px;
        max-height:760px;
    }

    &__header {
        font-size: 45px;
        font-family: "Raleway";
        color: rgb(6, 30, 55);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 34px;
    }

    &__underheader {
        max-width: 555px;
        font-size: 15px;
        font-family: "Raleway";
        color: rgb(176, 190, 197);
        line-height: 1.667;
        text-align: center;
        align-self: center;
        margin-bottom: 80px;
    }

    &__slider {
        align-self: center;
    }
}
@media(min-width: 768px) and (max-width:1200px) {
    .team {
        &__wrapper {
            margin-top: 70px;
            margin-bottom: 70px;
        }

        &__header {
            font-size: 35px;
            margin-bottom: 25px;
        }

        &__underheader {
            margin-bottom:40px;
        }

        &__slider {
        }
    }
}