.team {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:140px;
        padding-bottom:140px;
    }

    &__header {
        font-size: 45px;
        font-family: "Raleway";
        color: rgb(6, 30, 55);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 34px;
    }

    &__underheader {
        max-width: 555px;
        font-size: 15px;
        font-family: "Raleway";
        color: rgb(176, 190, 197);
        line-height: 1.667;
        text-align: center;
        align-self: center;
    }

    &__slider {
        align-self:center;
    }
}

