.spoiler {

    &__wrapper {
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        width: 820px;
        flex-direction: column;
   
    }

    &__title {
        font-size: 15px;
        font-family: "Raleway";
        color: rgb(6, 30, 55);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        padding-left: 60px;
        background: white;
        min-height: 50px;
        position: relative;

        &::after {
            content: '';
            background-image: url(../img/arrow_drop_down.png);
            background-repeat: no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 20px;
            left: 780px;
        }
    }

    &__title_stat {
        &::before {
            content: ' ';
            background-image: url(../img/trending_up.png);
            background-repeat: no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }

    &__title_inbox {
        &::before {
            content: ' ';
            background-image: url(../img/mail.png);
            background-repeat: no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 18px;
            left: 20px;
        }
    }

    &__title_team {
        &::before {
            content: ' ';
            background-image: url(../img/group.png);
            background-repeat: no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 19px;
            left: 20px;
        }
    }

    &__title_settings {
        &::before {
            content: ' ';
            background-image: url(../img/settings.png);
            background-repeat: no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 16px;
            left: 20px;
        }
    }

    &__title_feed {
        &::before {
            content: ' ';
            background-image: url(../img/rss_feed.png);
            background-repeat: no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 17px;
            left: 20px;
        }
    }

    &__content {
        display: none;
    }

    &__content_active {
        display: flex;
        animation: animation;
        animation-duration: 800ms;
        animation-iteration-count:1;
        animation-fill-mode:forwards;
    }

    &__content_disable {
        display: none;
    }

    &__image {
        img {
            margin: 0px 25px 25px 0px;
            flex-basis: 150px;
        }

        source {
            margin: 0px 25px 25px 0px;
            flex-basis: 150px;
        }
    }

    &__text {
        max-width: 480px;
        margin: 0px 25px 25px 0px;
        font-size: 15px;
        font-family: "Raleway";
        color: rgb(6, 30, 55);
        line-height: 1.667;
        text-align: left;
    }
}
@keyframes animation{
    0%{
        opacity:0;
        height: 130px;
    }
    50% {
        opacity: 0.5;
        height: 180px;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

@media(min-width: 768px) and (max-width:1200px) {
    .spoiler {

        &__wrapper {
            width:660px;
        }

        &__title {
            font-size:14px;
            &::after {
            }
        }

        &__title_stat {
            &::before {
            }
        }

        &__title_inbox {
            &::before {
            }
        }

        &__title_team {
            &::before {
            }
        }

        &__title_settings {
            &::before {
            }
        }

        &__title_feed {
            &::before {
            }
        }

        &__content {
        }

        &__content_active {
        }

        &__content_disable {
        }

        &__image {
            img {
            }

            source {
            }
        }

        &__text {
            font-size:13px;
        }
    }
}