.horizontal-slider {
    &__wrapper {
        display: flex;
        align-items: baseline;
        justify-content:center;
        min-width:1140px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: 2;
        user-select: none;
    }

    &__item_small-left {
        position: relative;
        left: 250px;
        order: 1;
    }

    &__item_small-right {
        position: relative;
        right: 250px;
        order: 3;
    }

    &__img-border {
        display: flex;
        justify-content: center;
        width: 190px;
        height: 190px;
        border-radius: 50%;
        border-width: 20px;
        border-color: white;
        box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.95);
        text-align: center;
        margin-bottom: 40px;
    }

    &__img-border_disable {
        border: none;
        box-shadow: none;
        margin-bottom: 0px;
    }

    &__img {
        align-self: center;
        box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.95);
        border-radius: 50%;

        img {
            position: relative;
            z-index: -1;
        }
    }

    &__img_small {
        box-shadow: none !important;
        border: none !important;

        &:hover {
            transition: 1s;
            transform: scale(1.2);
        }

        img {
            filter: grayscale(30%) opacity(0.4);
            transform: scale(0.65);
        }
    }

    &__name {
        font-size: 18px;
        font-family: "Raleway";
        color: rgb(6, 30, 55);
        font-weight: bold;
        line-height: 1.389;
        text-align: center;
        margin-bottom: 30px;
    }

    &__name_small {
        display: none;
    }

    &__text {
        font-size: 15px;
        font-family: "Raleway";
        color: rgb(144, 164, 174);
        line-height: 1.667;
        text-align: center;
        max-width: 700px;
        margin-bottom: 20px;
    }

    &__text_small {
        display: none;
    }

    &__links {
        display: flex;
        justify-content: center;
    }

    &__links_small {
        display: none;
    }

    &__facebook {
        filter: invert(1);
        margin: 0 10px 0 10px;
    }

    &__twitter {
        filter: invert(1);
        margin: 0 10px 0 10px;
    }

    &__LinkedIn {
        filter: invert(1);
        margin: 0 10px 0 10px;
    }

    &__Be {
        filter: invert(1);
        margin: 0 10px 0 10px;
    }

    &__Social-ball {
        filter: invert(1);
        margin: 0 10px 0 10px;
    }
}
