.page {

    &__body {
        max-width: 1920px;
    }
}
@media(min-width: 768px) and (max-width:1200px){
    .page {
        &__body {
            min-width: 768px;
            overflow-x: hidden;
        }
    }
}
