
.header {
    &__wrapper {
        background: linear-gradient(-123deg, rgba(24,255,255,0.80) 10%, rgba(24,202,173,1) 100%), url(../img/header_bg.png) no-repeat;
        background-position:inherit;
        background-size: cover;
        max-width:100%;
        padding-top: 45px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 140px;
        margin-bottom:140px;
    }
    &__nav{

    }
    &__underheader{

    }
}
