.contact {
    &__wrapper {
        display: flex;
        flex-direction: column;
        background-color: #FAFAFA;
        align-items: center;
        padding-top: 140px;
        padding-bottom: 140px;
    }

    &__header {
        @include font(45,20);
        font-family: "Raleway";
        color: rgb(6, 30, 55);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }

    &__underheader {
        max-width: 555px;
        @include font(15,12);
        font-family: "Raleway";
        color: rgb(6, 30, 55);
        line-height: 1.667;
        text-align: center;
        margin-bottom: 50px;
    }
}
@media(min-width: 768px) and (max-width:1200px) {
    .contact {
        &__wrapper {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        &__underheader {
            margin-bottom: 40px;
        }
    }
}