.vertical-slide {
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 25px;
        width: 730px;
        height: 460px;
        overflow: hidden;
        z-index: 1;
        margin-bottom: 120px;
    }

    &__item {
        display: flex;
        margin-bottom: 80px;
        transition: 0.9s;
    }

    &__icon {
        align-self: center;
        margin-right: 30px;

        img {
            height: 50px;
            width: 50px;
        }
    }

    &__message-box {
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
        max-width: 650px;
        height: 160px;
        display: flex;
        flex-direction: column;
        padding: 15px 15px 15px 15px;
        justify-content: center;
        align-content: center;
    }

    &__name {
        font-size: 18px;
        font-family: "Raleway";
        color: rgb(6, 30, 55);
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 15px;
        font-family: "Raleway";
        color: rgb(120, 144, 156);
        line-height: 1.667;
        text-align: left;
    }

    &__prev {
        transform: rotate(90deg);
        position: absolute;
        right: 59.2%;
        top: -120px;
        color: white;
        cursor: pointer;
        z-index: 2;
        user-select: none;
        width: 25px;
        height: 250px;
    }

    &__next {
        transform: rotate(90deg);
        position: absolute;
        right: 59.2%;
        top: 339px;
        color: white;
        cursor: pointer;
        z-index: 2;
        user-select: none;
        width: 25px;
        height: 250px;
    }
}
@keyframes faiding{
    from{
        opacity:1;
    }
    10%{
        opacity:0.9;
    }
    20%{
        opacity:0.8;
    }
    30%{
        opacity:0.7;
    }
    40%{
        opacity:0.6;
    }
    50%{
        opacity:0.5;
    }
    60%{
        opacity:0.4;
    }
    70%{
        opacity:0.3;
    }
    80%{
        opacity:0.2;
    }
    90%{
        opacity:0.1;
    }
    to{
        opacity:0;
    }
}
@keyframes emerging {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@media(min-width: 768px) and (max-width:1200px) {
    .vertical-slide {
        position: relative;

        &__wrapper {
            width: 400px;
            margin-bottom: 60px;
        }

        &__item {
            display: block;
        }

        &__name {
            font-size: 15px;
            margin-bottom: 0px;
        }

        &__text {
            font-size: 13px;
        }

        &__icon {
            margin-right: 15px;
        }

        &__prev {
            right: 66.2%;
        }

        &__next {
            right: 66.2%;
        }
    }
}