.video {
    &__wrapper {
        display: flex;
    }

    &__content-left {
    }

    &__header {
    }

    &__article {
        font-size: 18px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        line-height: 1.944;
        text-align: left;
    }

    &__buy-now {
    }

    &__TFF {
    }

    &__video {
    }
}
