.video {
    &__video {
        max-width: 600px;
        max-height: 450px;
    }

    &__postload {
        position: relative;
    }

    &__postload-img {
        position: absolute;
        top: -215px;
        right: 243px;
    }

}