.statistics {
    &__wrapper {
        display: flex;
        margin-bottom: 100px;
    }

    &__stat {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(128, 216, 255);
        width: 400px;
        height: 150px;
        flex-grow: 1;

        &:nth-of-type(1) {
            background-color: rgb(128, 216, 255);
        }

        &:nth-of-type(2) {
            background-color: rgb(130, 177, 255);
        }

        &:nth-of-type(3) {
            background-color: rgb(179, 136, 255);
        }

        &:nth-of-type(4) {
            background-color: rgb(234, 128, 252);
        }
    }

    &__stat-picture {
        margin-right: 27px;
        align-content: center;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        width: 60px;
        height: 60px;
        text-align: center;
        padding-top: 17px;
    }

    &__stat-article {
        @include font(20,15);
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.25;
        text-align: left;
    }
}
@media(min-width: 768px) and (max-width:1200px) {
    .statistics {
        &__wrapper {
            margin-bottom: 50px;
        }

        &__stat {
            width: 300px;
            height: 100px;

            &:nth-of-type(4) {
                background-color: rgb(234, 128, 252);
                padding-right:10px;
            }
        }

        &__stat-picture {
            margin-right: 14px;
            width: 40px;
            height: 40px;
            padding-top: 8px;
        }
    }
}